In [3]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline  
import pandas as pd

In [4]:
import RunDISApp as run
from classes import S3Connection
from classes import AnalysisSkeleton

In [10]:
conn = S3Connection.s3Connection()
aS = AnalysisSkeleton.analysisSkeleton(conn.getjson(500))

100files read
200files read
300files read
400files read
500files read
done

In [11]:
data = aS.cleanData()

                                               $type                  created                                 disruptedNaptanIds                                       lineStatuses modeName                   modified routeSections  statusSeverity statusSeverityDescription validityPeriods             created2  line
0  Tfl.Api.Presentation.Entities.Line, Tfl.Api.Pr...  2015-02-23T13:10:57.307  [940GZZLUBST, 940GZZLUCHX, 940GZZLUEAC, 940GZZ...  [{u'created': u'0001-01-01T00:00:00', u'$type'...     tube 2015-02-23 13:10:57.307000            []              10              Good Service              []  0001-01-01T00:00:00     0
1  Tfl.Api.Presentation.Entities.Line, Tfl.Api.Pr...  2015-02-23T13:10:57.587  [940GZZLUBKE, 940GZZLUBLG, 940GZZLUBND, 940GZZ...  [{u'created': u'0001-01-01T00:00:00', u'$type'...     tube 2015-02-23 13:10:57.587000            []              10              Good Service              []  0001-01-01T00:00:00     0
2  Tfl.Api.Presentation.Entities.Line, Tfl.Api.Pr...   2015-02-23T13:10:57.18  [940GZZLUALD, 940GZZLUBBN, 940GZZLUBKF, 940GZZ...  [{u'created': u'0001-01-01T00:00:00', u'$type'...     tube 2015-02-23 13:10:57.180000            []              10              Good Service              []  0001-01-01T00:00:00     0
3  Tfl.Api.Presentation.Entities.Line, Tfl.Api.Pr...   2015-02-23T13:10:57.21  [910GBLFR, 940GZZLUADE, 940GZZLUBBB, 940GZZLUB...  [{u'created': u'0001-01-01T00:00:00', u'$type'...     tube 2015-02-23 13:10:57.210000            []              10              Good Service              []  0001-01-01T00:00:00     0
4  Tfl.Api.Presentation.Entities.Line, Tfl.Api.Pr...  2015-02-23T13:10:57.413  [940GZZLUADE, 940GZZLUBBB, 940GZZLUBBN, 940GZZ...  [{u'created': u'0001-01-01T00:00:00', u'$type'...     tube 2015-02-23 13:10:57.413000            []              10              Good Service              []  0001-01-01T00:00:00     0

In [17]:
data[data['line']!=0]

Empty DataFrame
Columns: [$type, created, disruptedNaptanIds, lineStatuses, modeName, modified, routeSections, statusSeverity, statusSeverityDescription, validityPeriods, created2, line]
Index: []